<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logorsud"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logorsud"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSUD"
        tools:targetApi="31">
        <activity
            android:name=".Daftar.DaftarPoliKlinikActivity"
            android:exported="false" />
        <activity
            android:name=".Apotek.ApotekActivity"
            android:exported="false" />
        <activity
            android:name=".Daftar.DaftarJalanActivity"
            android:exported="false" />
        <activity
            android:name=".Daftar.DaftarInapActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>